<div class="testimonies-slider">
  {% import "components/testimonies-slider/testimonies-slider-item.njk" as item %}
  {{ item.props('Person 1', 'Orro voluptas ipsum a ducimus voluptates iste optio similique unde atque architecto.') }}
  {{ item.props('Person 2', 'Pellentesque dapibus tempus quam, at scelerisque lacus faucibus id. Aenean eget tellus nec justo mollis aliquet semper rutrum justo. Nam eleifend egestas nis.') }}
  {{ item.props('Person 3', 'Curabitur suscipit justo condimentum, vehicula erat et, placerat tortor.') }}
</div>