{% macro label(text, link = '#') %}
  <a href="{{ link }}" class="flex items-center h-12 px-8 font-medium text-white border-2 border-white rounded-lg text-inter-lg">
    {{ text }}
  </a>
{% endmacro %}