<button class="flex items-center text-white">
  <span class="text-lg font-medium tracking-widest uppercase">
    Menu
  </span>
  <svg class="w-8 h-8 ml-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewbox="0 0 24 24">
    <path d="M4 8h16M4 16h16"></path>
  </svg>
</button>