<nav class="pt-12 mb-40">
  <div class="container mx-auto">
    <div class="flex items-center justify-between">
      {% include "components/brand.njk" %}
      {% include "components/menu-btn.njk" %}
    </div>
  </div>
</nav>