<section id="intro" class="mb-64">
  <div class="container flex flex-col items-center mx-auto">
    {% import "components/section/section-title.njk" as title %}
    {{ title.label('Introduction') }}

    <h3 class="w-1/2 mb-4 text-3xl font-bold leading-normal text-center text-white">
      Neque porro quisquam est dolorem ipsum quia dolor sit amet
    </h3>
    <h4 class="mb-8 text-lg text-gray-100">
      Quisque rhoncus hendrerit metus. Praesent hendrerit dui ligula
    </h4>
    {% import "components/button.njk" as button %}
    {{ button.label('Start Now') }}
  </div>
</section>