<section id="testimonies" class="mb-64">
  <div class="container flex flex-col mx-auto">
    <div class="flex flex-col">
      <div class="flex flex-col items-center mb-32">
        {% import "components/section/section-header.njk" as header %}
        {{ header.title('Testimonies') }}
        {{ header.desc('What people say about my works') }}
      </div>
      {% include "components/testimonies-slider/testimonies-slider.njk" %}
    </div>
  </div>
</section>